@model List<Instructor>
@{
    ViewData["Title"] = "Index";
}
<h1>Instructors</h1>
<a href="/instructor/add" class="btn btn-primary">New</a>
<table class="table table-bordered table-hover">
    <tr>
        <td>ID</td>
        <td>Name</td>
        <td>Salary</td>
        <td>Image</td>
        <td>Address</td>
        <td>Course</td>
        <td>Department</td>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Name</td>
            <td>@item.Salary</td>
            <td>
                <img src="/images/@item.ImageUrl" style="width:80px" />
            </td>
            <td>@item.Address</td>
            <td>@item.Course?.Name</td>
            <td>@item.Department?.Name</td>
            <td>
                <a href="/instructor/Edit/@item.Id">Edit</a>
            </td>
        </tr>
    }
</table>